/*frontend/css/styles.css*/
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
form input, form button {
    display: block;
    margin: 10px 0;
}
.student {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

/*2.0*/
.selectPages{
    width:auto;
    display:inline-block;
}



/* 3.0 */

/*3.0 IVAN YUNGBLUT*/
.modal-width-small {
    max-width: 400px;
}

/*3.0 PEDRO LORENZO*/
.alert {
  padding: 12px 20px;
  margin-bottom: 10px; 
  border-radius: 8px;
  background-color: red;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  width: 100%; 
  box-sizing: border-box; 
}